* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

a {
    text-decoration: none;
}
