
/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav {
    position: sticky;
    height: 100vh;
    overflow-y: auto;
    background-color: #efefef;

    header {
        padding: 5px 15px;
        font-size: 0.75rem;
    }

    ul {
        padding-top: 30px;
    }
    
    li {
        border-radius: 10px;
    }

    a {
        font-size: 1.125rem;
        line-height: 1.125rem;
        padding: 10px 0 10px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: block;
        transition: all 0.2s ease-in-out;
        color: #2d2d2d;

        &:hover {
            background-color: #e0e0e0;
        }
        
        span {
            display: block;
            font-size: 80%;
            font-style: italic;
        }
    }

}

.main-content {
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 6fr;

    @media screen and (max-width: 600px) {
       grid-template-columns: 1fr; 
    }
}

main {
    display: flex;
    height: 100vh;
    overflow-y: auto;
    padding-left: 30px;
    justify-content: center;

    article {
        width: 60%;
    }

    p {
        font-size: 1.125rem;
    }
}